<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>
        function addItem(id){
            var req = new XMLHttpRequest();
            req.open('POST', '/?action=add&id=' + id);
            req.send();
            location.reload();
        }

        function removeItem(id){
            var req = new XMLHttpRequest();
            req.open('POST', '/?action=remove&id=' + id);
            req.send();
            location.reload();
        }

        function deleteItem(id){
            var req = new XMLHttpRequest();
            req.open('POST', '/?action=delete&id=' + id);
            req.send();
            location.reload();
        }


    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>

<div class="jumbotron text-center">
    <div class="container">
        <div class="col-sm-6">
            <a href="/"><h1>Codecool Shop</h1></a>
            <h2>Shopping Cart</h2>
        </div>
        <div class="col-sm-6">
            <a href="/cart">
                <img id="cart" src="/static/img/cart.png" alt="">
            </a>
            <div><span th:text="${itemNum}"></span> product(s) in cart</div>
        </div>
    </div>
</div>

<div class="container">
    <ul class="list-group" th:each="prod,iterStat : ${products}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span th:text="${prod.getName()}"></span>
            <span id="price"><strong><span th:text="${prod.getSubtotal()}"></span> (<span
                    th:text="${prod.getQuantity()}"></span>x<span th:text="${prod.getPrice()}"></span>)</strong></span>
            <a th:onclick="'javascript:deleteItem(' + ${prod.getId()} + ')'" href="#"
               class="badge badge-primary badge-pill">Remove this item</a>
            <a th:onclick="'javascript:addItem(' + ${prod.getId()} + ')'" href="#"
               class="badge badge-primary badge-pill">+</a>
            <a th:onclick="'javascript:removeItem(' + ${prod.getId()} + ')'" href="#"
               class="badge badge-primary badge-pill">-</a>
            <span class="badge badge-primary badge-pill" th:text="${prod.getQuantity()}"></span>
        </li>
    </ul>
</div>

<div class="container">
    <h3>Total Price: <span th:text="${sum}"></spanth:text></span></h3>
    <a href="/checkout" class="btn btn-success" role="button">Proceed to Checkout</a>
</div>

</body>
</html>