<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">

    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>

    <script src="/static/js/shopping.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hover.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/product.css"/>
</head>
<body>

<div th:replace="title.html :: title"></div>
<div th:replace="nav_bar.html :: header"></div>

<div class="container">
    <ul class="list-group" th:each="prod : ${products}">
        <li class="cart-card list-group-item d-flex justify-content-between align-items-center">
            <d class="product-info-cart">
                <img class="group list-group-image product-img-cart" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.key} + '.png'" alt=""/>
                <span th:text="${prod.key.getName()}"></span>
                <span id="price"><strong><span
                        th:text="${prod.value * prod.key.getDefaultPrice + ' ' + prod.key.getDefaultCurrencyString }"></span> (<span
                        th:text="${prod.value}"></span>x<span
                        th:text="${prod.key.getPrice()}"></span>)</strong></span>
            </d>
            <span class="product-amount-cart">
                <a th:onclick="'javascript:removeItem(' + ${prod.key.getId()} + ')'" href="#"
                   class="badge badge-primary badge-pill">-</a>
                <span class="badge badge-primary badge-pill" th:text="${prod.value}"></span>
                <a th:onclick="'javascript:addItem(' + ${prod.key.getId()} + ')'" href="#"
                   class="badge badge-primary badge-pill">+</a>
                <a th:onclick="'javascript:deleteItem(' + ${prod.key.getId()} + ')'" href="#"
                   class="badge badge-primary badge-pill">Remove this item</a>
            </span>

        </li>
    </ul>
    <div th:if="${sum != '0.0 CC'}">
        <h3>Total Price: <span th:text="${sum}"></spanth:text></span></h3>
        <a href="/checkout" class="btn btn-success" role="button">Proceed to Checkout</a>
    </div>
    <div th:if="${sum == '0.0 CC'}">
        <h3>Your Shopping Cart is empty.</h3>
    </div>
</div>

</body>
</html>