<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>

    <script src="/static/js/checkout.js"></script>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/nav_bar.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hover.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hover.css"/>
</head>
<body>

<div th:replace="title.html :: title"></div>
<div th:replace="nav_bar.html :: navbar"></div>

<div class="container">
    <form action='/checkout' method="POST">
        <h1 id="fill_checkout">Fill the following form with your information please</h1>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="e.g.: John Smith" id="name" class="form-control" required
                   autofocus>
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" name="email" placeholder="e.g.: john.smith@gmail.com" id="email" class="form-control"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="something@domain.xx or something@domain.xxx"
                   required>
        </div>

        <div class="form-group">
            <label for="telephone">Phone number:</label>
            <input type="text" name="telephone" placeholder="e.g.: 36301234567" pattern="[0-9]{11}"
                   title="11 number after each other like: 36301234567" id="telephone" class="form-control" required>
        </div>

        <label for="billing">Billing address:</label>

        <div class="form-inline" id="billing">
            <label for="billcountry">Country:</label>
            <input type="text" name="billcountry" placeholder="e.g.: Hungary" id="billcountry" class="form-control"
                   required>
            <label for="billcity">City:</label>
            <input type="text" name="billcity" placeholder="e.g.: Nyergesujfalu" id="billcity" class="form-control"
                   required>
            <label for="billzipcode">Zipcode:</label>
            <input type="text" name="billzipcode" placeholder="e.g.: 2536" pattern="[0-9]{4}" id="billzipcode"
                   class="form-control" required>
            <label for="billaddress">Address:</label>
            <input type="text" name="billaddress" placeholder="e.g.: Random Street 420" id="billaddress"
                   class="form-control" required>
        </div>

        <button type="button" id="copy_button" th:onclick="'javascript:copy()'" class="btn btn-xs btn-default"><span
                class="glyphicon glyphicon-arrow-down"></span>Copy billing address <span
                class="glyphicon glyphicon-arrow-down"></span></button>

        <label id='shipping_label' for="shipping">Shipping address:</label>

        <div class="form-inline" id="shipping">
            <label for="shipcountry">Country:</label>
            <input type="text" name="shipcountry" placeholder="e.g.: Hungary" id="shipcountry" class="form-control"
                   required>
            <label for="shipcity">City:</label>
            <input type="text" name="shipcity" placeholder="e.g.: Nyergesujfalu" id="shipcity" class="form-control"
                   required>
            <label for="shipzipcode">Zipcode:</label>
            <input type="text" name="shipzipcode" placeholder="e.g.: 2536" pattern="[0-9]{4}" id="shipzipcode"
                   class="form-control" required>
            <label for="shipaddress">Address:</label>
            <input type="text" name="shipaddress" placeholder="e.g.: Random Street 420" id="shipaddress"
                   class="form-control" required>
        </div>

        <input type="submit" value="Proceed to payment" name="button" class="btn btn-success" role="button"
               id="checkout_button">
    </form>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>