<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Signika:400,600" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="title">
    <div class="jumbotron text-center">
        <div class="container">
            <div>
                <h1 style="font-family: 'Signika', sans-serif">Codecool Shop<br>
                    <span><img id="team-logo" src="static/img/team_logo.gif" alt=""></span></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>