.paypal-img {
    display: block;
    max-width: 207px;
    max-height: 43px !important;
    width: auto;
    height: auto;
}

.col-sm-3, .col-sm-9 {
    height: 420px !important;
}

.pimg {
    padding-top: 210px;
}
